    img {
        width: 250px;
        height: 250px;
    }
    
    h5 {
        font-style: bold;
    }
    
    .container {
        border: 2px solid rgb(0, 26, 255);
        padding: 6px;
        background-color: #328da8;
    }
    
    body {
        background-color: #32a8a4;
    }